#ur {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #43434c;
  opacity: 0.75;
  background-color: #c7a067;
  padding: 20px 40px;
  border-radius: 40px;
  color: #f5efe5;
  margin: 10px;
  border: none;
  float: left;
}
