/*forside kunde*/
body {
    margin: 0;
    padding: 0;
    background: rgba(245, 239, 229, 0.36);
  }
  
  .logo {
    background-image: url(images/logo2.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  #book,
  #opret {
    font-size: 30px;
    border: none;
    background-color: #c7a067;
    border-radius: 0px;
    font-family: "Montserrat", sans-serif;
    display: block;
    margin-top: 20px;
    width: 250px;
    border-radius: 40px;
    height: 60px;
  }
  
  #book {
    margin-top: 200px;
  }
  
  .book_opret {
    text-decoration: none;
    color: #f5efe5;
    text-align: center;
  }
  
  .btn-container {
    margin-top: 150px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  /*services*/
  .welcome {
    text-align: center;
    margin-top: 130px;
    font-family: "Montserrat", sans-serif;
    color: #707070;
    font-size: 12px;
  }
  
  #undertitel {
    font-size: 15px;
  }
  
  .services {
    font-family: "Montserrat", sans-serif;
    color: #f5efe5;
    text-decoration: none;
    font-size: 20px;
  }
  
  #klipning,
  #barbering {
    text-align: center;
    background-color: #c7a067;
    border: none;
    width: 225px;
    height: 100px;
    border-radius: 40px;
    margin-top: 15px;
  }
  
  #klipning {
    margin-top: 200px;
  }
  .btn-container2 {
    margin-top: 150px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #back {
    border: none;
    font-size: 40px;
    color: #c7a067;
    margin-top: 370px;
    margin-left: 70px;
  }
  
  .icons_text {
    color: #c7a067;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    background-color: #f5efe5;
    width: 100%;
    margin-top: 75px;
  }
  
  #footer {
    text-align: center;
    display: flex;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
  .icons {
    font-size: 25px;
    margin-top: 25px;
  }
  
  /*tider*/
  
  #back2 {
    border: none;
    font-size: 40px;
    color: #c7a067;
    margin-top: -70px;
    margin-left: 70px;
  }
  .backcontainer {
    display: flex;
    margin-top: -55px;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
  }
  
  .tider {
    font-family: "Montserrat", sans-serif;
    color: #f5efe5;
    text-decoration: none;
    font-size: 20px;
  }
  
  #tid1,
  #tid2,
  #tid3,
  #tid4 {
    width: 200px;
    margin: 20px auto;
    border: none;
    background-color: #c7a067;
    height: 80px;
    border-radius: 40px;
    display: block;
  }
  
  .tid-container {
    width: 200px;
    margin: 120px auto;
    margin-top: 180px;
    color: black;
    display: block;
  }
  
  /*tider*/
  .tid-container2 {
    width: 200px;
    margin: 120px;
    display: grid;
  }
  
  #ledig1,
  #ledig2,
  #ledig3,
  #ledig4,
  #ledig5,
  #ledig6 {
    width: 200px;
    margin: 10px;
    border: none;
    background-color: #c7a067;
    height: auto;
    border-radius: 40px;
  }
  
  /*---------------------------------*/
  
  /*tekst*/
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #f5efe5;
    opacity: 0.75;
  }
  
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    color: black;
    text-align: center;
    padding: 5%;
  }
  
  p {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: medium;
    color: #43434c;
  }
  
  a {
    color: #43434c;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: medium;
  }
  
  a:hover {
    opacity: 0.5;
  }
  
  /*---------------------------------*/
  /*Sign-in-bruger*/
  /*---------------------------------*/
  
  .sign-up {
    width: 50%;
    margin: 0 auto;
    margin-top: 50%;
  }
  
  #username,
  #password,
  #name {
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
  }
  
  #brugernavn,
  #adgangskode,
  #navn {
    margin-top: 10px;
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  #submit {
    text-align: center;
    margin-top: 60px;
  }
  
  #submit a,
  #sign-up-btn a {
    background-color: #c7a067;
    padding: 12px 40px;
    border-radius: 40px;
    color: #f5efe5;
    margin: 10px;
    border: none;
    margin-top: 30px;
  }
  
  #need-user {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 50%;
  }
  
  #need-user a {
    text-decoration: underline;
  }
  
  /*---------------------------------*/
  /*Sign-up-bruger*/
  /*---------------------------------*/
  
  #make-user {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
  }
  
  .make-user {
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
  }
  
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: #f5efe5;
    margin: 0 auto;
    margin-top: 35px;
  }
  
  #back {
    color: #c7a067;
    margin: 4%;
    font-size: 200%;
  }
  
  #right {
    color: #c7a067;
    margin-left: 4%;
    font-size: 200%;
  }
  
  #nav-make-user {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .status-bar {
    margin-top: 21.5%;
    margin-bottom: 2%;
  }
  
  .status-bar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .status-bar p {
    text-align: center;
  }
  
  #sign-up-btn {
    text-align: center;
    margin-top: 150px;
  }
  
  #nav-make-user-2 {
    margin-top: 89px;
  }
  
  /*---------------------------------*/
  /*Sign-up-frisør*/
  /*---------------------------------*/
  
  .abonnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 132px;
    margin-top: 50px;
  }
  
  #abonnement-btn-1,
  #abonnement-btn-2 {
    text-align: center;
    background-color: #c7a067;
    padding: 12px 20px;
    border-radius: 20px;
    color: #f5efe5;
    margin: 10px;
    border: none;
    margin-top: 30px;
  }
  
  #abonnement-btn-1 p,
  #abonnement-btn-2 p {
    color: whitesmoke;
  }
  
  #nav-make-user-3 {
    margin-top: 316px;
  }
  