/*forside kunde*/
body{ 
    margin: 0;
    padding: 0;
    background: rgba(245, 239, 229, 0.36);
    
}

.logo{
    background-image: url(images/logo2.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
}



#book, #opret{
    font-size: 30px;
    border: none;
    background-color: #c7a067;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-top: 20px;
    width: 250px;
    border-radius: 40px;
    height: 60px;
}

#book{
    margin-top: 200px;
}
   
.book_opret{
    text-decoration: none;
    color: #f5efe5;
    text-align: center;
}

.btn-container{
    margin-top: 150px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*services*/
.welcome{
text-align: center;
margin-top: 130px;
font-family: 'Montserrat', sans-serif;
color: #707070;
font-size: 12px;
}

#undertitel{
    font-size: 15px;
}

.services{
 font-family: 'Montserrat', sans-serif;
 color: #F5EFE5;
 text-decoration: none;
 font-size: 20px;  
}


#klipning, #barbering{ 
    text-align: center;
    background-color: #c7a067;
   border: none;
   width: 225px;
   height: 100px;
   border-radius: 40px;
   margin-top: 15px;
}

#klipning{
    margin-top: 200px;
}
.btn-container2{
    margin-top: 150px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#back{
   border: none;
   font-size: 40px;
   color: #c7a067;
   margin-top: 450px;
   margin-left: -250px;
   background: none;
}

.icons_text{
    color: #c7a067;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F5EFE5;
    width: 100%;
    margin-top: 75px;
  }
  
  #footer{
    text-align: center;
    display: flex;  
    bottom: 0;  
    position: absolute;
    width: 100%;
 }

 .icons{
     font-size: 25px;
     margin-top: 25px;
 }

 /*tider*/

 #back2{
    border: none;
    font-size: 40px;
    color: #c7a067;
    margin-top: -70px;
    margin-left: 70px;
    background: none;
 }
.backcontainer{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    position: fixed;
   margin-top: 500px;
}

 .tider{
    font-family: 'Montserrat', sans-serif;
    color: #F5EFE5;
    text-decoration: none;
    font-size: 20px;  
   }
   
   
   #tid1, #tid2, #tid3, #tid4{ 
       width:200px;
       margin:20px auto;
       border: none;
       background-color: #c7a067;
       height: 80px;
       border-radius: 40px;
       display: block;
    }

   .tid-container{
       width:200px;
       margin:120px auto;
       margin-top: 180px;
       color: black;
       display: block;
    }

     #ledig1, #ledig2, #ledig3, #ledig4, #ledig5, #ledig6{ 
        width:200px;
        margin:10px;
        border: none;
        background-color: #c7a067;
        height: auto;
        border-radius: 40px;
        color: #39592F;
     }

    
     li{
         list-style: none;
         width:200px;
         margin: auto;
         float: left;
         display: block;
     }


     .container {
        width: 300px;
        margin: auto;
        display: flex;
        margin-top: 180px;
       
    }
    .first {
        width: auto;
        margin-right: 20px;
        margin-top: -2px;
        text-align: center;
        line-height: 28.5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    #second {
        width: 200px;
        height: 300px;
        
    }

    #tirsdag{
        color: black;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }


    .back-text{
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }

    #knaptekst{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #c7a067;
        text-align: center;  
    }

    #knap{
       font-size: 20px;
       border: none;
       background: none;
       color: #c7a067;
    }

    /*bekræftelse*/

    #oprettet{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #F5EFE5;
        text-align: center;  
        background-color: #c7a067;
        width: 300px;
        height: 100px;
        border-radius: 40px;
        margin: auto;
         padding: 10px;
         margin-top: 50px;
    
    }

    #dine_tider{
        line-height: 60px;
       font-size: 15px;
    }
   
    
    #thumbsup{
       font-size: 200px;
       margin-top: 175px;
       text-align: center;
    }

    #knaptekst2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #c7a067;
        text-align: center;  
        margin-top: 300px;
    }

    #knap2{
       font-size: 20px;
       border: none;
       background: none;
       color: #c7a067;
    }

    .back-text2{
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        margin-top: 50px;
    }

   /*salon*/
   #hd1, #hd2{ 
    text-align: center;
    background-color: #c7a067;
   border: none;
   width: 225px;
   height: 150;
   border-radius: 40px;
   margin-top: 50px;
}

#hd{
    margin:auto; 
    margin-top: 80px;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

#hd1{
    height: 200px;
    width:300px;
}

/*min profil*/
#profil{ 
    text-align: center;
    background-color: #c7a067;
   border: none;
   width: 225px;
   height: 40px;
   border-radius: 40px;
   margin-top:10px;
}

.profilcontainer{
    margin-top: 800px;
    margin: auto;
    position: absolute;
    top: 550px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#pb1{ 
    text-align: center;
    background-color: #c7a067;
   border: none;
   width: 225px;
   height: 225px;
   border-radius: 50%;
}

#pb{
    margin:auto; 
    margin-top: 20px;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}   

#back_profil{
    border: none;
    font-size: 40px;
    color: #c7a067;
    margin-top: 250px;
    margin-left: -250px;
    background: none;
 }

/*navbar*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #272727;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0%;
    z-index: 1;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #F5EFE5;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    display: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: #F5EFE5;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
   @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      font-size: 30px;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {
    position: absolute;
    height: 100%;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 95%;
    width: 100%;
    text-align: center;
  
    }

    .topnav.responsive a.icon {
      position: absolute;
      float: right;
      font-size: 30px;
      margin-right: -290px;
      top: -15px;
    }

    .topnav.responsive a {
      float: right;
      display: block;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      color: #F5EFE5; 
      margin: 15px;
    }

    #home{
       margin-top: 100px;
    }
    
    
}
